* {
    /* 不用算padding增加的寬高 */
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}
.left_area {
    width: 100%;
    height: 100px;
    background-color: gray;
    padding: 10px 20px;
}
.mb_btn{
    display: none;
}
.logo {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: 40% 50%;
    background-image: url("../img/logo.jpg");
    float: left;
}
.nav_btn {
    float: right;
    height: 100%;
    font-size: 24px;
    line-height: 24px;
    padding: 28px 0;
    /* 總高100px-父層padding的20px-文字24PX=56px */
}
.btn {
    margin-right: 10px;
}
/* 電腦版的右邊區塊=平板版的下方區塊 */
.right_area {
    /* 
        height或width要寫100%
        父層須設定寬高才有用   
    */
    width: 100%;
    height: calc(100% - 100px);
    padding: 45px 20px 0;
}
.img_area {
    width: 100%;
    height: 800px;
}
.img {
    background-size: cover;
    background-position: center;
}
.imgA {
    width: 100%;
    height: calc(50% - 2.5px);
    margin-bottom: 5px;
    background-image: url("../img/img_parallax.jpg");
}
.imgB {
    width: calc(50% - 2.5px);
    height: calc(50% - 2.5px);
    float: left;
    margin-right: 5px;
    background-image: url("../img/img_parallax2.jpg");
}
.imgC {
    width: calc(50% - 2.5px);
    height: calc(50% - 2.5px);
    float: left;
    background-image: url("../img/img_parallax3.jpg");
}
.mask {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    transition: 0.5s;
}
.mask:hover {
    opacity: 0;
}
